astroid==2.3.2
certifi==2019.9.11
colorama==0.4.1
Django==2.2.24
django-js-asset==1.2.2
django-static-precompiler==1.8.2
easy-thumbnails==2.6
isort==4.3.21
Jinja2==2.10.3
lazy-object-proxy==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
mysqlclient==1.3.14
Pillow==6.2.1
pycodestyle==2.5.0
pylint==2.4.3
pytz==2019.3
rope==0.14.0
six==1.12.0
sqlparse==0.3.0
wincertstore==0.2
wrapt==1.11.2
